* {
    margin:0;
    padding: 0;
}
html{
    font-size: 1em;
    font-family: "Egoryans", system-ui;

}



body{
    background-color: #808080;
}

header{
    background-color: #808080;
    text-align: center;
    padding: 20px 40px;

}   
footer {
    background-color: #808080;
    color:white;
    padding: 20px 40px;
}
#about{
    background-color: #808080;
    color: aliceblue;
    padding: 20px 40px;
    text-align: center;
}

h2{
   text-decoration: overline #000000;
    text-transform: capitalize; /
    
    font-style: normal; 
    color: #000000; 
    border-bottom: 3px solid #000000; 
    padding-bottom: 5px; 
    margin-top: 30px; 
    margin-bottom: 20px;
    font-size: 2em; 
    text-align: center; 
}

p{
    text-align: justify;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

nav ul{
    list-style: none;
    text-transform: uppercase;
    text-decoration: overline;
    text-align: center;
}
ul {
text-align: left;


}
dd{

    text-align: left;
}
.facts{
padding-left:  45px ;
list-style-position: inside;
font-weight: bold;
}
header a:hover{
    color: #ff0000;
    
}
header a:focus{
    color: rgb(0, 0, 0);
     transition: color 0.3s ease, text-decoration 0.3s ease; 
     text-decoration: underline;
      margin: 0 15px; 
}
section a:hover {
    color: rgb(255, 0, 0);
     transition: color 0.3s ease, text-decoration 0.3s ease;
     text-decoration: underline; 
      margin: 0 15px; 
}
section a:focus {
    color: rgb(0, 245, 73);
     transition: color 0.3s ease, text-decoration 0.3s ease; 
     text-decoration: underline;
      margin: 0 15px; 
}
footer a:hover {
    color: #ffffff;
     transition: color 0.3s ease, text-decoration 0.3s ease;
     text-decoration: underline; 
      margin: 0 15px; 
}
footer a:focus {
    color: rgb(0, 255, 34);
     transition: color 0.3s ease, text-decoration 0.3s ease; 
     text-decoration: underline;
      margin: 0 15px; 
}
.facts {
     content: "Важно! ";
  display: inline-block;
  padding: 2px 6px;
  margin-right: 8px;
  border: 2px solid #680000; 
  background-color: #000000; 
  color: #7e7d7d; 
  font-weight: bold;
  border-radius: 4px;
  font-size: 0.9em;
}
p::first-line {
  letter-spacing: 10px
    
}
#articles li {
    padding: 15px 10px; 
    border-bottom: 1px solid #e0e0e0; 
    transition: background-color 0.3s ease; }
 #articles li:nth-child(odd) {
    background-color: #000000; }
    #articles li:nth-child(even) {
    background-color: #00ff00;}
 p :first-line { 
     letter-spacing: 1px;
      word-spacing: 10px;   
}
#about h2 {
    color: #000000; 
    border-bottom: 4px solid #292929; 
    padding-bottom: 10px; 
    margin-bottom: 10px; 
    text-align: center; }
#about a {
    display: inline-block; 
    margin-top: 10px;
    margin-bottom: 10px; 
    border: 3px solid #000000; 
    border-radius: 15px; 
    padding: 5px; 
    transition: transform 2s ease, box-shadow 2 ease; 
}
#about a:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(0, 134, 56, 0.5); }
 #about p {
    line-height: 1.7; 
    text-align: justify;
    max-width: 1440px; 
    margin: 20px auto; 
    padding: 0 10px;
    color: #444;}
footer a img {
    border: 2px solid #ffffff; 
    border-radius: 5px; 
    padding: 3px; 
    background-color: #28a745; 
    vertical-align: middle;
    margin-left: 5px; }
#about a + p {
    margin-top: 50px }
    #about p {
    font-size: 1.3em; 
    color: #333; 
    text-align: justify; 
    max-width: 800px; 
    margin: 20px auto; 
    padding: 0 10px;  }
h1 {
    text-decoration: underline black;
    text-transform: uppercase; 
    font-weight: bold; 
    font-style: italic; 
    color: #000000; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    font-size: 2.5em;
    letter-spacing: 1px;  }
    a {
            color: #1e6900;
            text-decoration: none; 
            transition: color 0.3s ease, text-decoration 0.3s ease; 
    }
    #articles li:nth-child(4) a::after {
            content: "Важно!"; 
            position: absolute; 
            right: 10px; 
            top: 50%; 
            transform: translateY(50%); }






















.my-table {
    border: solid 10px red;
    border-collapse: collapse;
}

.my-table td,
.my-table th{
    border-bottom: solid 1px black;
    padding: 10px 15px;
}


.my-table tr:nth-child(odd) {
    color: red;
}


.my-table td:nth-child(even),
.my-table th:nth-child(even) {
    background-color: green;
}

.my-table tr:last-child td:nth-child(2) {
    text-align: center;
}


#register {
    width: 320px;
    margin: 10px auto;
    border-radius: 50px;
    padding: 60px;
    background-color: lightgrey;
}

#register input[type=text],
#register input[type=password],
#register textarea,
#register select {
    background-color: beige;
    padding: 7px;
    border-radius: 5px;
    color: dimgray;
    margin-bottom: 10px;
    border:1px solid dimgray;
}

#register input[type=submit] {
    background: dimgray;
    border-radius: 15px;
    padding: 7px;
    color:white;
    border:none;
}
#register input[type=submit]:hover {
    background: black;
}

#register input[type=radio]{
    accent-color: dimgray;
}







































.my-table2 {
    border: solid 10px rgb(255, 0, 0);
    border-collapse: collapse;
}

.my-table2 td,
.my-table2 th{
    border-bottom: solid 1px rgb(47, 0, 255);
    padding: 10px 15px;
}


.my-table2 tr:nth-child(all) {
    color: red;
}


.my-table2 td:nth-child(1),
.my-table2 th:nth-child(1) {
    background-color: green;
}

.my-table2 tr:last-child td:nth-child(1) {
    text-align: center;
}



#register2 {
    width: 320px;
    margin: 10px auto;
    border-radius: 50px;
    padding: 60px;
    background-color: lightgrey;
}

#register2 input[type=text],
#register2 input[type=password],
#register2 textarea,
#register2 select {
    background-color: beige;
    padding: 7px;
    border-radius: 5px;
    color: dimgray;
    margin-bottom: 10px;
    border:1px solid dimgray;
}

#register2 input[type=submit] {
    background: dimgray;
    border-radius: 15px;
    padding: 7px;
    color:white;
    border:none;
}
#register2 input[type=submit]:hover {
    background: black;
}

#register2 input[type=radio]{
    accent-color: dimgray;
}
